footer {
  padding: 10px;
  font-weight: bold;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
}

body {
  background-color: #D9D9D9;
}

.page-divider {
  background-color: #ffffff;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 5rem;
  user-select: none
}

.description {
  text-align: center;
  color: rgb(0, 0, 0);
  user-select: none;
  font-weight: bold
}

hr {
  width: 600px;
  border-style: solid;
  border-color: #000000;
}

.white-background {
  background-color: white;
}

.game-selector {
  border-color: rgb(0, 0, 0);
  background-color: #239E81;
  border-style:solid;
  border-width: 5px;
  width: 25%;
  height: 60%;
  text-align: center;
  border-radius: 25px;
  margin: auto;
  margin-top: 10px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}