.title {
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    border: 10px;
    padding: 10px;
    text-align: center;
    color: black;
}

.btn {
    font-size: 14px;
    color: #fff;
    padding: 10px 30px;
    border: solid;
    border-radius: 10px;
    border-color: black;
    transition : 294ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 10px;

}

.btn:hover {
    transition : 294ms;
    padding: 10px 30px;
    transform : translateY(-0px);
    color: #ffffff;
    border: solid;
    border-radius: 10px;
    border-color: black;
}

.continue {
    background-color: #239e81;
}

.continue:hover {
    background-color: #1f856b;
}

.reset {
    background-color: #236f9e;
}

.reset:hover {
    background-color: #1a577d;
}

.quit {
    background-color: #eb1616;
}

.quit:hover {
    background-color: rgb(195, 34, 34);
}

.button-container {
    display: flex;
    width: fit-content;
    margin: auto;
}

.row {
    width:auto;
    margin:auto;
}

.cell {
    height: 25px;
    width: 25px;
    background-color: white;
    border-style: solid;
    margin: 3px;
    display: inline-block;
    vertical-align: middle;
}

.message-log {
    height: 50px;
    width: 450px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background-color: white;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    margin: auto;
}

.game-window {
    width: 50%;
    margin: auto;
}

.grid {
    width: 370px;
    height: 370px;
    margin: auto;
}