.title {
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    border: 10px;
    padding: 10px;
    text-align: center;
    color: black;
}

.button-container {
    display: flex;
    width: fit-content;
    margin: auto;
}

.game-window {
    width: 50%;
    margin: auto;
}