.message-container {
    height: 50px;
    width: 1000px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background-color: white;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    margin: auto -30px;
    user-select: none;
}